body {
            font-family: sans-serif;
            background-image: url(img/poke.jpg);
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: 1280px 1100px;
        }
    h1 {
      font-weight: strong;
      font-size: 300%;
      font-family: "Verdana";
    }
    h2 {
      font-weight: normal;
      font-size: 200%;
      font-family: "Verdana";
    }
    p {
      font-weight: normal;
      font-size: 120%;
    }
    input[type=button] {
      background-color: #3B6CB8; /* Red */
      border: none;
      border-radius: 8px;
      color: white;
      padding: 14px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 24px;
      margin:10px 10px 10px 10px;
    }
    .title {
        color: #1C7CCC;
    }